<!DOCTYPE html>
<html>
	<head>
		<title>Lesson Expert | <%=user%></title>
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
	    <link href="javascripts/literallycanvas/css/literallycanvas.css" rel="stylesheet">
	    <link href="stylesheets/font-awesome-4.5.0/css/font-awesome.css" rel="stylesheet">
	    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600,600italic,700,700italic,400italic' rel='stylesheet' type='text/css'>
	    <script src="lib/jquery/dist/jquery.js"></script>
	    <script src="lib/react/react-with-addons.js"></script>
		<script src="lib/socket.io-client/socket.io.js"></script>
		
		<!-- Literally Canvas -->
    	<script src="javascripts/literallycanvas/js/literallycanvas.js"></script>
    	<script src="http://simplewebrtc.com/latest-v2.js"></script> 
    	<link rel="stylesheet" type="text/css" href="//blueimp.github.io/jQuery-File-Upload/css/jquery.fileupload.css">
    	<link rel="stylesheet" type="text/css" href="//blueimp.github.io/jQuery-File-Upload/css/jquery.fileupload-ui.css">
    	
    	<style>
    	body{
    		overflow-x: hidden;
    	}
    	*{
    		font-family: 'Open Sans', sans-serif;
    	}
    	.literally{
    		min-height:600px !important;
    		overflow: hidden;
    		
    		border-radius: 5px;
    	}
    	.literally,.literally2{
    		background: #eee;
    	}
    	.lc-options.horz-toolbar{
    		width: 60px;
    		position:relative;
    		top:228px !important;
    		left:-1px;
    		z-index:100000000000000000;
    		background: none;
    	}
    	.literally .lc-picker{
    		border-right:0;
    		background:white;
    	}
    	.lc-picker{
    		padding-top:72px;
    	}
    	.literally .color-well-color-container{
    		border-radius:20px;
    	}
    	.literally .color-well-color-container .color-well-color{
    		border-radius: 50px;
    	}
    	.color-well-color-container{
    		overflow: hidden !important;
    	}
    	.literally .horz-toolbar .square-toolbar-button{
    		border-radius:100%;
    	}
    	.literally.toolbar-at-top .lc-options{
    		display:inline-block;
    		border-bottom:0;
    	}
    	.literally.toolbar-at-top .lc-drawing{
    		top:2px;
    	}
    	.literally .horz-toolbar .square-toolbar-button{
    		border:1px solid #49D8EA;
    	}
    	.lc-font-settings select,label{
    		width:100%;
    	}
    	.literally .horz-toolbar label{
    		margin:0;
    	}
    	</style>
    	<style>
            #remoteVideos video {
                width: 100%;
                height: 100%;
            }
            #localVideo {
                width: 100%;
                height: 100%;
            }
            .videoContainer video,.teacher-video video {
                width: 100%;
                height: 100%;
            }
            .volume_bar {
                position: absolute;
                width: 5px;
                height: 0px;
                right: 0px;
                bottom: 0px;
                background-color: #12acef;
            }
            .highlightUser{
            	background: lightgreen;
            }
            .highlightUser:hover{
            	background: green !important;
            	color: white !important;
            }
            .list-addon{
            	padding-left:5px;
            	padding-right:5px;
            }
            .chatuser{
            	font-weight: bold;
            	text-align:left;
            	margin-right:20px;
            }
            ul#chatbox li{
            	padding-bottom: 5px;
            }
            .left-box{
            	position:relative;
            }
            .pdf-options{
            	background: rgba(0,0,0,0.5);
            	position: absolute;
            	right: 23px;
            	top: 31px;
            	min-height: 44px;
            	min-width: 10px;
            	z-index:100000;
            	color:white;
            	text-align: center;
            }
            .pdf-options-list{
				list-style:none;
				margin:0;
				padding:5px;

			}
			ul.pdf-options-list li{
				float: left;
				font-size:30px;
				margin-left: 15px;
				margin-right: 15px;
			}
        </style>
    </head>
	<body>
		<div style="margin-top:5px;">
			<!--div class="row" style="margin-top:10px;">
				<h4 style="margin-left: 10px;text-align:left;"><span class="fa fa-group"></span> CLASSROOM</h4>
			</div-->
			<!--div class="row">
				<img src="images/logo.svg" style="margin-left:2%;height:40px;width:40px;margin-bottom:3px;" />
			</div-->
			<img src="images/logo.svg" style="position:absolute;margin-left:1%;height:40px;width:40px;left:0px;top:20px;z-index:10;" />
	    	<div class="row">
	    		<div class="col-md-9" >
		    		<div class="row">
		    			<div class="col-md-12 left-box" style="min-height:600px;">
		    				<div class="pdf-options">
		    					<ul class="pdf-options-list">
		    						<li><span class="fa fa-angle-left" onclick="previousPage()"></span></li>
		    						<li><span class="fa fa-angle-right" onclick="nextPage()"></span></li>
		    						<li><span class="fa fa-search-plus" onclick="zoom('in')"></span></li>
		    						<li><span class="fa fa-search-minus" onclick="zoom('out')"></span></li>
		    					</ul>
		    				</div>
		    				<div class="literally"></div>
		    				<div class="literally2"></div>
		    			</div>
		    		</div>
		    		<div class="" style="margin-top:10px;min-height:250px;margin-left:2px;">
			    		<div class="col-md-12">
			    			<div class="row" style="border:1px solid #ddd; border-radius:2px;">
			    				<div class="col-md-10" style="padding:10px;">
			    					<ul id="chatbox" style="padding:20px;list-style-type:none;height:80px;width:100%;overflow:auto;">
			    					</ul>
			    					<input type="text" style="margin-top:2px;border:0px;" class="form-control"  id="chatmessage" name="chatmessage" />
			    				</div>
			    				<div class="col-md-2" style="text-align:center;padding-top:25px;">
					    			<span class="fa fa-hand-stop-o" onclick="raiseHand()" style="font-size:25px !important;"></span><br />
					    			<p>Doubt</p>
					    			<button id="sendmessage" class="btn btn-default" style="margin-top:20px;" onclick="sendmessage()">SEND</button>
					    		</div>
			    			</div>
			    		</div>
			    	</div>
		    	</div>
		    	<div class="col-md-3" style="width:24%;right:10px;">
		    		<div class="row">
		    			<li class="list-group-item">
		    				<span style="margin-left:5%;">
		    					<input id="pdfupload" style="display:none;" type="file" name="pdf[]" data-url="pdfupload/" />
		    					<button class="btn btn-default" onclick="uploadImage()"><span class="fa fa-cloud-upload"></span> Import Pdf</button>
		    				</span>
		    				<span style="margin-left:17%;">
	    						<input type="checkbox" onclick="pauseOrResumeMic()"/>
	    						<span class="fa fa-microphone"></span> 
	    					</span>
	    					<span style="margin-left:15%;">
	    						<input type="checkbox" onclick="pauseOrResumeVideo()"/>
	    						<span class="fa fa-video-camera"></span> 
	    					</span>
	    				</li>
		    		</div>
		    		<div class="row panel panel-default" style="margin-top:5px;">
		    			<div class="panel-body" style="min-height: 150px;">
		    				<p style="text-align:center;">HD Teacher Webcam Feed</p>
							<div class="teacher-video" style="position:relative;">
		    					<!--video id="localVideo" class="local-video"></video-->
		    					<div style="position:absolute;bottom:5px;width:100%;z-index:1;visibility:hidden;">
		        					<div class="row">
			        					<div class="col-md-2 col-md-offset-4">
			        						<button id="micButton" data-only-teacher="true" class="btn btn-primary teacher-button" onclick="pauseOrResumeMic()"><span id="muteDisabled" class="fa fa-microphone"></span></button>
			        					</div>
			        					<div class="col-md-6">
			        						<button id="videoButton" data-only-teacher="true" class="btn btn-primary teacher-button" onclick="pauseOrResumeVideo()"><span id="muteDisabled" class="fa fa-video-camera"></span></button>
			        					</div>
		        					</div>
		        				</div>
			    			</div>
			    		</div>
		    		</div>
		    		<div class="row">
	    				<li class="list-group-item">
	    					<span style="margin-left:5%;">
	    					MUTE ALL
	    					</span>
	    					<span style="margin-left:32%;">
	    						<input type="checkbox"  id="muteAll" onchange="muteAll()"/>
	    						<span class="fa fa-microphone"></span> 
	    					</span>
	    					<span style="margin-left:15%;">
	    						<input type="checkbox"  id="pauseAll" onchange="pauseAll()"/>
	    						<span class="fa fa-video-camera"></span> 
	    					</span>
	    				</li>
	    			</div>
	    			<div id="remotes" style="width:100%;margin-top: 10px;position:relative;">
	    				<video id="localVideo" class="selfVideo" muted></video>
	    			</div>
		    		<div class="row panel panel-default" style="margin-top:10px;">
		    			<div class="panel-heading">
		    				<p style="text-align:center;">Attendee List</p>
		    			</div>
		    			<div class="panel-body" style="height:359px;overflow:auto;">
		    				<ul class="list-group">
		    					<li id="users" style="list-style:none;"></li>
		    				</ul>
		    				<!--ul class="list-group">
		    					<li id="userslist" list-repeat="usersList"></li>
		    				</ul-->
		    			</div>
		    		</div>
		    	</div>
	    	</div>
	    </div>
	    <img src="images/loading.gif" id="loading" style="position: fixed;top:40%;left: 40%;" />
	    <script>
	    	$(document).ready(function(){
	    		$("#loading").hide();
	    		var toolbar = $('.horz-toolbar');
	    		//$('.horz-toolbar').remove();
	    		//$(".lc-picker").append(toolbar);
	    		//console.log('loading page');

	    	})
	    	function muteAudio(id){
	    		$('#volume'+id).toggleClass('glyphicon-volume-up');
	    		$('#volume'+id).toggleClass('glyphicon-volume-off');
	    		$('#volumeButton'+id).toggleClass('btn-danger');
	    		$('#volumeButton'+id).toggleClass('btn-success');
	    	}
	    </script>
	    <script>
            // Getting user role from backend
            var role = "<%=user%>"|| "student";
            var ip = "<%=ip%>",
            	port = "<%=port%>",
            	className = "<%=className%>";
            // different interface for teacher / student
            console.log(role);
            $('.selfVideo').hide();
			if(role == 'teacher'){
				$('.literally2').hide();
				$(".teacher-video").append("<video id='localVideo' class='local-video'></video>");
			}else{
				$('.literally').hide();
				$('.local-video').hide();
			}

			$('#chatmessage').keypress(function(e){
		        if(e.which == 13){
		           if($('#chatmessage') != ''){
		           		$('#sendmessage').click();
		           		$('#chatmessage').val('');
		           }
		        }
		    });
			var openFileBrowser = function(){
				$("#fileupload").click();
			}
		</script>
	    <script src="javascripts/main.js"></script>
	    <script src="javascripts/video.js"></script>
		<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
		 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
		<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
		<script src="javascripts/jQuery-File-Upload-9.11.2/js/vendor/jquery.ui.widget.js"></script>
		<script src="javascripts/jQuery-File-Upload-9.11.2/js/jquery.iframe-transport.js"></script>
		<!-- The basic File Upload plugin -->
		<script src="javascripts/jQuery-File-Upload-9.11.2/js/jquery.fileupload.js"></script>
		
		<script>
			//File upload script
			var isuploaded = true;
			var uploadedfilesarray = [];
			console.log("uploaded files array changed");
			console.log(uploadedfilesarray);
			$('#fileupload').fileupload({
		        dataType: 'json',
		        url: 'upload/',
		        autoUpload: true,
		        done: function (e, data) {
		            $.each(data.result.files, function (index, file) {
		                //$('<p/>').text(file.name).appendTo(document.body);
		                uploadedfilesarray.push(file.url);
		                socket.emit("filesuploaded",uploadedfilesarray);
		            });
		        }
		    });
		    $('#pdfupload').fileupload({
		        dataType: 'json',
		        url: 'upload/',
		        autoUpload: true,
		        done: function (e, data) {
		        	console.log(data.result);
		        	$("#loading").hide();
					loadPdfCanvas(data.result);
		        }
		    }).bind('fileuploadsubmit',function(e,data){
		    	$("#loading").show();
		    });
			socket.on("filesuploaded",function(files){
				var buffer = "";
				$.each(files,function(index,value){
					buffer += "<li><a target='_blank' href='"+value+"'>"+value+"</a></li>";
				});
				$("#uploadedfiles").html(buffer);
			});
		</script>
	</body>
</html>